<script type="text/javascript">
	$(function () {
		var alert = '<div style="position:fixed;top:70px;right:20px;"><div id="myAlert" class="alert alert-dismissable ';
		var msg = JSON.parse('{{ fn.toString(msg) | safe }}'); 
		console.log(msg);
		if(msg.error){
			var emsg;

			jQuery.each (msg.body.errors, function(ename, ebody) {
				if(ebody.type == 'required'){
					emsg = "Éste campo es requerido.";
				} else if(ebody.type == 'duplicated'){
					emsg = "Ya existe un registro con el mismo valor.";
				}
				jQuery('#'+ename).closest('.form-group')
					.addClass('has-error')
					.append('<label class="help-block col-md-offset-2 col-md-10" for="'+ename+'">'+emsg+'</label>');
			});

			if(msg.data_sent){
/*				jQuery.each(msg.data_sent, function(input, val) {
					jQuery("[name='"+input+"']").val(val);
				});*/
				
				$.each(msg.data_sent, function(input,val){
					console.log(input, typeof val)
				    if(typeof val == 'object') {
				        console.log(input+": ")
				    
				        jQuery.each(val, function(subinput, subval){
				            console.log("     "+subinput+": "+subval);
				        })
				    } else {
				    	console.log(input+": "+val) 
				    }
				})

				$.each(msg.data_sent, function(input,val){
					console.log(input, typeof val)
				    if(typeof val == 'object') {			    
				        jQuery.each(val, function(subinput, subval){
				            jQuery("[name='"+input+"["+subinput+"]']").val(subval);
				        })
				    } else {
				    	jQuery("[name='"+input+"']").val(val);
				    }
				})

			}
		}

		alert+= ((msg.error)?'alert-danger':'alert-success')+' fade in" data-alert="alert">';
		alert+= '<button type="button" class="close" data-dismiss="alert">×</button>';
		alert+= '<h4>{{ msg.title }}</h4>';
		alert+= ((msg.error)?'Por favor corrija los errores para continuar.':'');
		alert+= '</div></div>' 

		jQuery('#main-content').append(alert);
		
	});
</script>