<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

	<title>{{ title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	{% block custom_head_css %}
	<link href="/stylesheets/root_common.css" rel="stylesheet">
	{% endblock %}
	{% if settings.env == 'development' %}
	<style type="text/css">
		#EDT{
			z-index: 1031 !important;
		}
	</style>
	{% endif %}
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>

</head>
<body>
	{% block navbar %}
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{ title }}</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Active</a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Dropdown header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left">
					<input type="text" class="form-control col-lg-8" placeholder="Search">
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block container %}
	<div class="container">
		<div class="row">
		{% block main %}
		{% endblock %}
		</div>
		<!-- /.row -->
		}
	</div>
	<!-- /.container -->
	{% endblock %}
	{% block footer %}

	<footer>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-5 column">
					<h3>Testimonios:</h3>
					<blockquote>
						<p>Comprar en {{ title }} es asombroso, encuentras los mejores productos fácilmente, además puedes imprimir tu proforma y recoger tu pedido en la misma tienda.</p>
						<small>Algun famoso vía <cite title="Source Title">Facebook</cite></small>
					</blockquote>
				</div>
				<div class="col-md-4 column">
					<h3>Centro</h3>
					<ul class="nav">

					</ul>
				</div>
				<div class="col-md-3 column">
					<h3>Derecha</h3>
					<ul class="nav">

					</ul>
				</div>
			</div>
		</div>
	</footer>


	{% endblock %}

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript">
		$.each(q,function(index,f){
			$(f)
		});
	</script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	{% block extra_js %}
	{% endblock %}

</body>
</html>