{% extends "common/admin.html" %}
{% block main %}
	<div class="page-header pull-right hidden-print">
		<a href="/admin/brands/new" class="btn btn-default">Cancelar</a>
		<button form="form" type="submit" class="btn btn-lg btn-success">
			<i class="icon-check icon-white"></i> Guardar
		</button>
	</div>

	<h1 class="page-header">{{ title }}</h1>

	<form id="form" method="post" class="form form-horizontal col-md-6">
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Nombre:</label>
			<div class="col-md-10">
				<input autocomplete="off" class="form-control" id="name" name="name" pattern="^[0-9A-Za-zÁÉÍÓÚáéíóuñÑ\x20\s]*$">
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Slug:</label>
			<div class="col-md-10">
				<input autocomplete="off" class="form-control" id="slug_pre" name="slug_pre" placeholder="Identificador único" readonly="readonly">
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Descripción:</label>
			<div class="col-md-10">
				<textarea class="form-control" rows="3" id="description" name="description"></textarea>
			</div>
		</div>
	</form>
{% endblock %}

{% block inline_js %}
	<script type="text/javascript">
		function slugify (str, options) {
			options || (options = {});
			return str.toLowerCase()
			.replace(options.replace || /[^a-z0-9]/g, ' ')
			.replace(/^ +| +$/g, '')
			.replace(/ +/g, options.separator || '-')
		};

		$(function () {
			$('#name').bind('input', function() { 
		    $('#slug_pre').val(slugify($(this).val())); // get the current value of the input field.
		  });
		});
	</script>
{% endblock %}